In [14]:
import pandas as pd

data = pd.read_excel("C:/Users/oosedus/Desktop/3-2/Business Analytics/Project/Project/BirthratePrediction/Data/merged_data.xlsx")

In [15]:
data

,ID,Year,Country Name,BirthRate,FemaleLaborParticipationRate,AvgHoursWorked,BothWorking,FirstBirthAge,MarriageAge,MarriageRate,...,GDP,GNI,PovertyGap,EduExpenditureOfGDP,EduExpenditureOfGov,WeeksPaidLeaveForMothers,TotalLaborParticipationRate,DivorceRate,InflationRate,Population
0,AUT1990,1990,Austria,11.8,55.172,NaN,NaN,27.2,NaN,5.9,...,19473.072125,19561.545708,NaN,4.957250,NaN,60.0,67.429,2.1,3.261872,7677850.0
1,AUT1991,1991,Austria,12.2,55.979,NaN,NaN,27.2,26.1,5.7,...,20617.579156,20602.091660,NaN,5.103220,NaN,112.0,67.959,2.1,3.337426,7754891.0
2,AUT1992,1992,Austria,12.2,57.604,NaN,NaN,27.3,NaN,5.8,...,21293.268400,21345.923456,NaN,5.296980,NaN,112.0,68.839,2.1,4.020847,7840709.0
3,AUT1993,1993,Austria,12.0,58.208,NaN,NaN,27.3,NaN,5.7,...,21732.871184,21793.075303,NaN,5.252000,NaN,112.0,68.986,2.1,3.631786,7905632.0
4,AUT1994,1994,Austria,11.6,61.895,NaN,NaN,27.5,NaN,5.5,...,22642.841565,22677.856984,0.3,NaN,NaN,112.0,71.342,2.1,2.953407,7936118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,PRT2017,2017,Portugal,8.4,71.674,1727.140,69.3,31.2,NaN,3.3,...,33044.700150,32269.025353,0.8,5.015610,10.106933,30.1,74.690,2.1,1.368614,10340124.0
476,PRT2018,2018,Portugal,8.5,72.376,1737.704,71.0,31.4,NaN,NaN,...,34928.618990,34075.601394,0.8,4.675160,10.264323,30.1,75.145,2.0,0.993716,10334633.0
477,PRT2019,2019,Portugal,8.4,72.901,1743.930,NaN,31.4,NaN,NaN,...,37299.182306,36330.275280,0.4,4.630020,10.529255,30.1,75.523,2.0,0.338178,10354445.5
478,PRT2020,2020,Portugal,8.2,71.790,1611.193,NaN,31.6,NaN,NaN,...,34955.611560,34411.605571,1.0,4.876560,9.607214,30.1,74.227,1.7,-0.012438,10384846.0
479,PRT2021,2021,Portugal,7.7,72.851,1648.943,NaN,31.8,NaN,NaN,...,36971.269095,36375.612016,NaN,4.711906,9.709188,30.1,75.211,NaN,1.265657,10407707.0